@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #171717;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #262626;
  border-radius: 20px;
}

.cardElement {
  transform: scale(1);
}

.cardElement, .cardElement > * {
  transition: ease-in-out 0.4s;
}

.cardElement:hover {
  background: #22d3ee !important;
  transform: scale(1.1);
}

.cardElement:hover > * {
  color: white;
}

.stroke {
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

.parallelogram {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.title {
  z-index: 3;
  position: relative;
}

.descriptions {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.descriptions .description {
  background-color: #ec4e39;
  transition: all 0.4s;
  color: transparent;
}

.globe-container {
  top: -10rem;
  left: 50%;
  transform: translateX(-40%);
  right: 0;
}

.globe {
  width: 50rem;
  filter: brightness(1.6);
  /* box-shadow: 0 0 10px #171717; */

  opacity: 0.1;
}

.gallery {
  height: 90rem;
  background: black;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  pad: 1rem;
  box-sizing: border-box;
  overflow: hidden;
}

.gallery .column {
  position: relative;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.column .image-container {
  width: 100%;
  height: 25rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.column:nth-of-type(1) {
  top: -45%;
}

.column:nth-of-type(2) {
  top: -30%;
}

.column:nth-of-type(3) {
  top: -45%;
}

.column:nth-of-type(4) {
  top: -30%;
}

.column:nth-of-type(5) {
  top: -50%;
}

.column:nth-of-type(6) {
  top: -40%;
}

.mask {
  position: absolute;
  -webkit-mask-image: url('../public/cricle.svg');
  background-color: #ec4e39;
  -webkit-mask-repeat: no-repeat;
  width: 100%;
  height: 100%;
  -webkit-mask-size: 50px;
  mask-position: 50%;
  color: black;
}

.progress {
  position: sticky;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 5rem;
}

.progress-bar {
  height: 10px;
  background-color: #ef4444;
}

.pattern {
  /* overflow: hidden; */
  background: linear-gradient(45deg, transparent 49%, #1c1c1c 49% 51%, transparent 51%) , linear-gradient(-45deg, transparent 49%, #1c1c1c 49% 51%, transparent 51%);
  background-size: 6rem 6rem;
  background-color: #171717;
  opacity: 1
}

.pattern-2 {
  background: radial-gradient(circle, transparent 25%, #171717  26%),linear-gradient(45deg, transparent 46%, #1c1c1c 47%, #1c1c1c 52%, transparent 53%), linear-gradient(135deg, transparent 46%, #1c1c1c 47%, #1c1c1c 52%, transparent 53%);
  background-size: 3rem 3rem;
  background-color: #171717;
  opacity: 1
}